{% extends 'base.html' %}



{% block content %}
{% load static %}
<div class="center">
    <div class="top">
        <h3>Изменение пароля</h3>
    </div>
</div>
<div class="reg_info">
    <form action="" method="post" class="reg-form">
        {% if message %}
        <ul class="messages">
            <li>{{ message }}</li>
        </ul>
        {% endif %}
         {% csrf_token %}
        <input type="password" placeholder="Введите старый пароль" name="old_psw" required><br>

        <input type="password" placeholder="Введите новый пароль" name="new_psw" required><br>

        <input type="password" placeholder="Повторите новый пароль" name="new_psw_repeat" required>

        <div class="captcha">
            <p>Captcha: 1234567</p>
        </div>

        <button type="submit">Сохранить</button>
    </form>
</div>
{% endblock %}
