{% extends 'base.html' %}



{% block content %}
{% load static %}
<div class="center">
    <div class="top">
        <h3>Изменение пароля</h3>
    </div>
</div>
<div class="reg_info">
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <form method="POST" action="/accounts/password/change/" class="reg-form">
        {% csrf_token %}
        <p>
    <label for="id_oldpassword">Текущий пароль:</label>
    <input type="password" name="oldpassword" placeholder="Текущий пароль" autocomplete="current-password" required id="id_oldpassword">


  </p>


  <p>
    <label for="id_password1">Новый пароль:</label>
    <input type="password" name="password1" placeholder="Новый пароль" autocomplete="new-password" required id="id_password1">

      <span class="helptext"><ul><li>Пароль не должен быть слишком похож на другую вашу личную информацию.</li><li>Ваш пароль должен содержать как минимум 8 символов.</li><li>Пароль не должен быть слишком простым и распространенным.</li><li>Пароль не может состоять только из цифр.</li></ul></span>


  </p>


  <p>
    <label for="id_password2">Новый пароль (ещё раз):</label>
    <input type="password" name="password2" placeholder="Новый пароль (ещё раз)" required id="id_password2">




  </p>
        <button type="submit" name="action">Сменить пароль</button>
    </form>
</div>
{% endblock %}
