{% extends 'base.html' %}


{% block content %}
{% load static recaptcha3 %}
{% recaptcha_init %}
{% recaptcha_ready action_name='homepage' %}
<div class="top">
    <div class="center">
        <h3>Создание нового альбома</h3>
    </div>
</div>

<div class="center">
    {% if email_confirmed == 'False' %}
        <div><h3>Чтобы создавать альбомы, нужно иметь аккаунт с подтверждённым email</h3></div>
        <a href="/user_profile/confirm_email/">Подтвердить почту</a>
    {% else %}
    {% if success == 'success' %}
    <div><h3>Альбом успешно создан.</h3></div>
    {% elif success == 'false' %}
    <div><h3>Не удалось создать альбом</h3></div>
    {% else %}
    {% if not models %}
        <div><h3>У Вас нет моделей для создания альбома</h3></div>
    {% else %}
    <div class="reg_info">
        <form action="" method="post" class="login-form">
            {% csrf_token %}
            {{ form.as_p }}
<!--                <label for="name">Название(не меньше 4х символов)</label><br>-->
<!--                <input id="name" type="text" name="name" placeholder="Название альбома" required><br>-->
<!--                <label for="models">Модели для альбома</label><br>-->
<!--                <select id="models" size="10" name="models" multiple required>-->
<!--                    {% for model in models %}-->
<!--                        <option value="{{ model.id }}">{{ model.name }}</option>-->
<!--                    {% endfor %}-->
<!--                </select><br><br>-->
            <button type="submit">Создать</button>
        </form>
    </div>
    {% endif %}
    {% endif %}
    {% endif %}
</div>
{% endblock %}
