{% extends 'base.html' %}



{% block content %}
{% load static recaptcha3 %}
{% recaptcha_init %}
{% recaptcha_ready action_name='login' %}
{% load static %}
<div class="center">
    <div class="top">
        <h3>Восстановление пароля</h3>
    </div>
</div>

<div class="reg_info">
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
        <form method="POST" action="/accounts/password/reset/key/10-set-password/" class="reg-form">
            {% csrf_token %}
            <p>
    <label for="id_password1">Новый пароль:</label>
    <input type="password" name="password1" placeholder="Новый пароль" autocomplete="new-password" required id="id_password1">


  </p>


  <p>
    <label for="id_password2">Новый пароль (ещё раз):</label>
    <input type="password" name="password2" placeholder="Новый пароль (ещё раз)" required id="id_password2">




  </p>
            <button type="submit">Изменить пароль</button><br><br>
        </form>
</div>
{% endblock %}
