{% extends 'base.html' %}



{% block content %}
{% load static recaptcha3 %}
{% recaptcha_init %}
{% recaptcha_ready action_name='login' %}
{% load static %}
<div class="center">
    <div class="top">
        <h3>Восстановление пароля</h3>
    </div>
</div>

<div class="reg_info">
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <p class="center">Забыли свой пароль? Введите ниже свой email и мы вышлем письмо с инструкциями по сбросу пароля.</p>

    <form method="POST" action="/accounts/password/reset/" class="reg-form">
        {% csrf_token %}
        <label for="id_email">Адрес электронной почты:</label>
        <input type="email" name="email" placeholder="E-mail адрес" autocomplete="email" maxlength="320" required id="id_email"><br>
        <button type="submit">Сбросить мой пароль</button><br><br>
    </form>
</div>
{% endblock %}
