{% extends 'base.html' %}



{% block content %}
{% load static %}
<div class="center">
    <div class="top">
        <h3>Восстановление пароля</h3>
    </div>
</div>
        {% if message %}
        <div class="center">
            <h3>{{ message }}</h3>
        </div>
        {% else %}
<div class="reg_info" id="login">
    <form action="" method="post" class="login-form">


        {% csrf_token %}
        <p><b>Email, указанный при регистрации</b></p>
        <input type="text" placeholder="Введите Email" name="email" required><br>

        <div class="captcha">
            <p>Captcha: 1234567</p>
        </div>

        <button type="submit">Восстановить</button>

    </form>
</div>
        {% endif %}
{% endblock %}
