{% extends 'base.html' %}

{% block content %}
{% load static %}
{% load recaptcha3 %}
{% recaptcha_init %}
{% recaptcha_ready action_name='login' %}

{% if order %}
<div class="center">
    <div class="top">
        <h3>Ваш заказ</h3>
    </div>
    <div>
        <div class="cart_grid">
            <div></div>
        <table>
            <tr>
                <th>Товар</th>
                <th>Количество</th>
                <th>Стоимость</th>
            </tr>
            {% for cart in carts %}
            <tr>
                <td>{{ cart.product.name }}</td>
                <td>{{ cart.quantity }}</td>
                <td>{{ cart.products_price }}</td>
            </tr>
            {% endfor %}
        </table>
        </div>
        <div><h4>Сумма: {{ order.price }}руб.</h4></div>
    </div>
</div>
{% endif %}
<div class="downloading">
    <form action="" method="post">
        {% csrf_token %}
        <button class="submitBtn" type="submit">Оплатить</button>
    </form>
</div>

<!--<div class="downloading">-->
<!--    <form action="/model/{{ model.id }}/downloading/" method="post">-->
<!--        {% csrf_token %}-->
<!--        <button class="submitBtn" type="submit">Скачать</button>-->
<!--    </form>-->
<!--</div>-->

{% endblock %}